<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="th4hsk" connectionString="Data Source=CUONGHD\SQLEXPRESS;Initial Catalog=th4hsk;Integrated Security=True;Encrypt=False" />
  <add name="ThucHanh_25_03_hsk.Properties.Settings.th4hskConnectionString"
   connectionString="Data Source=CUONGHD\SQLEXPRESS;Initial Catalog=th4hsk;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
